// Styles in the sheet only affect the index page.

main {
  display: flex;
  margin-top: 2vh;
  align-items: center;
  justify-content: center;

  .column.left {
    flex: 1;
    text-align: end;
    max-width: 640px; // Unit is in px to sync with the image size.
    padding: 2em 1em 0em 1em;
  }

  .column.separator {
    width: 0;
  }

  .column.right {
    flex: 1;
    margin-right: 2em;
    max-width: 22.5em;

    h1 {
      margin-top: 0.3em;
    }

    .links {
      margin-top: 2.5rem;
      font-size: 1.5rem;

      a {
        margin-right: 0.5rem;
        text-decoration: none;
      }
    }

    section {
      margin-bottom: 2rem;
    }
  }

  .heading {
    color: $color-foreground-product-name;
  }

  .code {
    background-color: $color-code-background;
  }

  .google_play_badge {
    margin-top: 2.5rem !important;

    a {
      border: none;
    }
  }

  img.app_screenshots {
    width: 100%;
    height: auto;
  }

  .footer {
    opacity: 0.5;
  }

  @media screen and (max-width: $break-large) {
    flex-direction: column;
    margin-top: 0;

    .column.left {
      padding: 7vw 0vw 5vw 0vw;
      max-height: 54vw;
      overflow: hidden;
      max-width: none;
    }

    .column.separator {
      width: 80%;
      height: 2px;
      background: rgba(white, 0.2);
      background: linear-gradient(
        90deg,
        rgba($color-foreground, 0) 0%,
        rgba($color-foreground, .3) 50%,
        rgba($color-foreground, 0) 100%
      );
    }

    .column.right {
      margin: 7vw 6vw;
      padding: 0em;
      max-width: 36em;
    }

    img.app_screenshots {
      margin: 0;
    }
  }
}

.header {
  opacity: 0.5;
  padding: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: $break-large) {
    display: none;
  }
}
