$sans-serif-heading: 'Jost', -apple-system, BlinkMacSystemFont, sans-serif;
$sans-serif-body: $sans-serif-heading;

$color-background: #1C1A1F;
$color-foreground: #BBB;
$color-foreground-product-name: #FFF;
$color-heading3: #CCAEF9;
$color-link-underline: rgba($color-foreground, 0.4);
$color-link-on-hover: #8DF0FF;
$color-code-background: rgba(255, 255, 255, 0.1);
$color-text-highlight: rgba($color-heading3, 0.25);

@import 'viewports';
@import 'base';
@import 'index';
