// Fonts
$sans-serif-heading: 'Jost', -apple-system, BlinkMacSystemFont, sans-serif;
$sans-serif-body: $sans-serif-heading;

// Responsive breaks
$break-extra-small: 575px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}

@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}
