<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@saketme" />
  <meta name="twitter:image" content="https://press-website-4hc5gaqzx-saket.vercel.app/images/social_sharing_card.png" />
  <meta name="twitter:description" content="Press is a live markdown editor that syncs your notes with git" />

  <meta property="og:url" content="https://press.wtf" />
  <meta property="og:site_name" content="press.wtf" />
  <meta property="og:title" content="Press, for Android" />
  <meta property="og:image" content="https://press-website-4hc5gaqzx-saket.vercel.app/images/social_sharing_card.png" />
  <meta property="og:image:width" content="1248" />
  <meta property="og:image:height" content="624" />

  <!--
    Used by Google Chrome on mobile. Keep in sync with style.css!
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color
  -->
  <meta name="theme-color" content="#1C1A1F">

  <title>{{ config.title }}</title>
  <meta name="description" content="Press is a live markdown editor that syncs your notes with git">
  <meta name="keywords" content="android markdown editor, android markdown app, android notes app, markdown git app">

  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='images/favicon_32.png') | safe }}" />
  <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path='images/favicon_192.png') | safe }}" />
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="{{ get_url(path='images/favicon_192.png') | safe }}" />

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
  </style>

</head>
<body>

{% block content %} {% endblock %}
</body>
</html>
