<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:url" content="https://press.wtf" />
  <meta property="og:title" content="Press for Android" />
  <meta property="og:image" content="{{ get_url(path='images/social_sharing_card.png') }}" />
  <meta property="og:image:width" content="1248" />
  <meta property="og:image:height" content="624" />

  <title>{{ config.title }}</title>
  <meta name="description" content="Press is a markdown editor with inline preview, syncing, flexible writing app for crafting notes and prose.">

  <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='hallo.css') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='images/favicon_32.png') }}" />
  <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path='images/favicon_192.png') }}" />

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
  </style>

</head>
<body>

{% block content %} {% endblock %}
</body>
</html>
