{% extends "base.html" %}

{% block content %}
<section class="header">
  <a href="https://github.com/saket/press-website" target="_blank">Fork this website</a>
</section>

<main>
  <div class="column left">
    <img src="{{ get_url(path='images/press_android_screenshots.png') }}" class="app_screenshots" alt="Press screenshots"/>
  </div>
  <div class="column separator"></div>
  <div class="column right">
    <img src="{{ get_url(path='images/press_app_icon.png') }}" width="48px" alt="Press app icon"/>
    <section>
      <h1><span class="heading">Press</span>, a markdown editor that syncs with git</h1>

      <h3>WYSIWYG</h3>
      Style and format text with a beautiful live preview.

      <h3>Own your notes</h3>
      Press saves your notes as <span class="code">.md</span> files and syncs them with your git account.

      <h3>Open source</h3>
      <a href="https://github.com/saket/press" target="_blank">github.com/saket/press</a>
    </section>

    <section class="google_play_badge">
      <a href="https://play.google.com/store/apps/details?id=me.saket.press" target="_blank">
        <img src="{{ get_url(path='images/play_store_badge.png') }}" alt="Download from Play Store"/>
      </a>
    </section>

    <section class="footer">
      Press is maintained by <a href="https://saket.me" target="_blank">Saket Narayan</a> in 🇨🇦. Follow <a href="https://twitter.com/saketme">@saketme</a> on twitter for progress updates.
    </section>
  </div>
</main>

{% endblock content %}
